<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Homepage
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand text-white fa fa-home home-icon w3-xxlarge bg-danger"></a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/to-do-date-select">Date Selection</a>
            </li>
        </ul>
    </nav>
    <h1 class="main-heading">Welcome to the Time Management Program!</h1>
    <div class="container" style="text-align: center">
        <br><br><br><br>
        <p class="instructions">This program consists of a To-Do software to easily track your tasks! Please use the button below or the button in the navigation bar to proceed to the Date-Selection page!</p>
        <br><br>
        <a href="/to-do-date-select"><button class="home-button bg-info display-4">Date-Selection Page</button></a>
    </div>
</body>

</html>