@charset 'utf-8';



.home-icon {
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.home-icon:hover{
    background-color: rgb(151, 150, 150);
}

li a:hover
{
    background-color: rgb(151, 150, 150);
}

body {
    background: rgb(58,65,180);
    background: -moz-linear-gradient(95deg, rgba(58,65,180,1) 0%, rgba(253,29,29,0.9336776947106968) 50%, rgba(58,65,180,1) 100%);
    background: -webkit-linear-gradient(95deg, rgba(58,65,180,1) 0%, rgba(253,29,29,0.9336776947106968) 50%, rgba(58,65,180,1) 100%);
    background: linear-gradient(95deg, rgba(58,65,180,1) 0%, rgba(253,29,29,0.9336776947106968) 50%, rgba(58,65,180,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a41b4",endColorstr="#3a41b4",GradientType=1);
}

.main-heading {
	margin: auto;
	letter-spacing: 0.0015em;
	font-size: 5em;
	text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
		-2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff,
		-4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff,
		-6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
	text-align: center;
	font-family: "Henny Penny", cursive;
	color: #274dff;
}

.instructions {
    font-size: 30px;
    text-align: center;
    font-family: bradley hand, cursive;
}

.home-button {
    font-family: "Henny Penny", cursive;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.date-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.date-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
date-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
date-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}